body{
    background-color: lightgreen;
}

.box-model{
    /* display: none; */
    /* visibility: hidden; */
}

.first-blog{
    border: 2px solid blue;
    padding: 10px;
    margin: 20px;
    display: block;
}
li{
    display: inline;
    padding: 10px;

}

/* Example Inline-Block */
.boat{
    display: inline-block;
    width: 100px;
    height: 100px;
    background-color: red;
    margin: 10px;
    
}